/*General content*/
body{
  margin: auto;
  width: 100%;
  background-color: #dddddd;
}
p, li{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/*Header*/
header h1{
  margin-left: 2.5%;
  font-family: 'Bebas Neue', cursive;
}
header a{
  text-decoration: none;
  color: #000000;
}
header a:hover{
  color: #FF6408;
}
/*Navegation*/
nav{
  width: 100%;
  display: flex;
  background-color: #436E99;
}
nav ul{
  list-style-type: none;
  padding: 0px;
  margin-left: 2.5%;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
nav li{
  text-align: center;
  float: left;
  padding: 20px;
}
nav li:hover{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,64,88,1) 0%, rgba(24,36,47,1) 100%);
}
nav li a{
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
/*Main content*/
main{
  flex: 0 1 70%;
  margin:2.5%;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 2px;
}
.container{
  display: flex;
  flex-direction: row;
}
article .ArticleTitle{
  font-family: 'PT Sans Narrow', sans-serif;
}
/*Aside content */
aside{
  flex: 0 1 20%;
  margin:2.5%;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 2px;
}
.moduleTitle{
  font-family: 'Courgette', cursive;
}
/*Footer area*/
footer{
  padding: 1%;
  background-color:  #333333;
  display: flex;
  flex-direction: row;
}
footer p, a{
  color: #ccc;
}
footer h2{
  color: #eaeaea;
  font-family: 'Courgette', cursive;
}
.foorterLeft{
  flex: 0 1 49%;
}
.footerRight{
  flex: 0 1 49%;
}
